* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
  background-color: #e3dddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.signup {
  width: 400px;
  background: rgba(255, 255, 255, 0.258);
  box-shadow:
    5px 5px 16px #c8c8c8,
    -5px -5px 15px #ffff;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.signup h2 {
  font-family: "Azonix";
  font-size: 1.3rem;
  background-image: linear-gradient(45deg, red, rgb(255, 144, 163));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.signup input {
  width: 90%;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1.5px solid pink;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}
.signup input:focus {
  border: 1.5px solid rgb(255, 90, 118);
  background: rgba(255, 255, 255, 0.7);
}

.signup button {
  padding: 0.6rem 1rem;
  border: none;
  border: 1.5px solid rgb(251, 251, 251);
  border-radius: 8px;
  background: #e9e6e6cc;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow:
    2px 2px 8px #bebebe,
    -2px -2px 8px #ffff;
  text-transform: none;
  margin-top: 0.5rem;
  transition: all ease-in-out 0.5s;
}
.signup button:hover {
  background: #62ff00;
  color: black;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .signup {
    width: 350px;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }
}
