/*img is at line 1529*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
}

/* Generic */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
  background-image: radial-gradient(circle, #171424, black);
}

.maincontainer {
  width: 400px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 8px;
  display: flex;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  /*   height:440px */
}
.login-container {
  display: flex;
  flex-direction: column;
}
.login-container h2 {
  font-family: "Azonix";
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

.input-field label {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.1s ease-in;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-120%);
  font-size: 0.9rem;
  top: 10px;
}

.password-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

.password-options label {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
#remember {
  accent-color: #fff;
}
.password-options label p {
  margin-left: 8px;
}

.maincontainer a {
  font-family: "Roboto", sans-serif;
  color: #efefef;
  text-decoration: none;
}
.maincontainer a:hover {
  text-decoration: underline;
}

button {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 3px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.1s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #fff;
  color: #fff;
}

.account-options {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}



.face {
  position: absolute;
}

.box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 400px;
  border-radius: 14px;
  gap: 10px;
  display: none;
}

.camera_btn {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-scan {
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Verdana;
}

.btn-scan:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#webcam-container {
  background-image: url(./img/face-scan.gif);
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.loader_face {
  width: 28px;
  height: 28px;
  display: block;
  margin: 0px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader_face::after,
.loader_face::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #fff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader_face::before {
  background-color: #ff3d00;
  transform: scale(0.1) translate(-28px, -28px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}


.loader {
  width: 28px;
  height: 28px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border: 2px solid hsl(0, 0%, 0%);
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
.loader::after {
  border-color: #FF3D00;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

#status {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .maincontainer {
    width: 350px;
  }
  .box {
    width: 350px;
    padding: 1rem 0px;
  }
}